<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7888a2">  <td>20/03/20 10:27:01</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;BaseTestApp.endReport()[pri:0, instance:com.moneytap.upi.test.controllers.VPAControllerTest@73d69c0f]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1300576734</td>   <td></td> </tr>
<tr bgcolor="7888a2">  <td>20/03/20 10:27:01</td>   <td>-8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTestApp.getResult(org.testng.ITestResult)[pri:0, instance:com.moneytap.upi.test.controllers.VPAControllerTest@73d69c0f]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1300576734</td>   <td></td> </tr>
<tr bgcolor="7888a2">  <td>20/03/20 10:26:49</td>   <td>-11597</td> <td>&nbsp;</td><td title="&gt;&gt;BaseTestApp.reportingSetup()[pri:0, instance:com.moneytap.upi.test.controllers.VPAControllerTest@73d69c0f]">&gt;&gt;reportingSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1300576734</td>   <td></td> </tr>
<tr bgcolor="f2bdbb">  <td>20/03/20 10:27:01</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestClass()[pri:0, instance:com.moneytap.upi.test.controllers.VPAControllerTest@73d69c0f]">&lt;&lt;springTestContextAfterTestClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1300576734</td>   <td></td> </tr>
<tr bgcolor="f2bdbb">  <td>20/03/20 10:27:01</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGSpringContextTests.springTestContextAfterTestMethod(java.lang.reflect.Method)[pri:0, instance:com.moneytap.upi.test.controllers.VPAControllerTest@73d69c0f]">&lt;&lt;springTestContextAfterTestMethod</td> 
<td>&nbsp;</td>  <td>main@1300576734</td>   <td></td> </tr>
<tr bgcolor="f2bdbb">  <td>20/03/20 10:26:49</td>   <td>-11482</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestClass()[pri:0, instance:com.moneytap.upi.test.controllers.VPAControllerTest@73d69c0f]">&gt;&gt;springTestContextBeforeTestClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1300576734</td>   <td></td> </tr>
<tr bgcolor="f2bdbb">  <td>20/03/20 10:27:01</td>   <td>-12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextBeforeTestMethod(java.lang.reflect.Method)[pri:0, instance:com.moneytap.upi.test.controllers.VPAControllerTest@73d69c0f]">&gt;&gt;springTestContextBeforeTestMethod</td> 
<td>&nbsp;</td>  <td>main@1300576734</td>   <td></td> </tr>
<tr bgcolor="f2bdbb">  <td>20/03/20 10:26:49</td>   <td>-11480</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGSpringContextTests.springTestContextPrepareTestInstance()[pri:0, instance:com.moneytap.upi.test.controllers.VPAControllerTest@73d69c0f]">&gt;&gt;springTestContextPrepareTestInstance</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1300576734</td>   <td></td> </tr>
<tr bgcolor="678bef">  <td>20/03/20 10:27:01</td>   <td>-11</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VPAControllerTest.testRegisterVPA()[pri:0, instance:com.moneytap.upi.test.controllers.VPAControllerTest@73d69c0f]">testRegisterVPA</td> 
  <td>main@1300576734</td>   <td></td> </tr>
</table>
